*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

html{
    background-color: blueviolet;
}

.container{
    max-width: 600px;
    margin:0 auto;
    padding: 25px;
}
.header{
    display:flex;
    align-items:center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.text-input{
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 01.2%;
    border: 1px solid pink; 
}

.text-output{
    background-color: rgba(255, 255, 255 ,0.7);
    color: blueviolet;
    padding: 16px;
}













